html, body {
  font-weight: 100;
  font-family: "Arial";
}

h1 {
  color: grey;
  font-size: 16px;
  padding-left: 60px;
}

section {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

article img {
  height: 150px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 30%;
}

h3{

}
