h1 {
  color: grey;
  font-size: 16px;
  padding-left: 60px;
}

section {
  text-align: center;
  display: inline-block;
}

article {
  display: inline-block;
}

article img {
  height: 150px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 15%;
}

.bio {

}

.edu {

}

.jobs {

}

.goals {

}
