html, body {
  font-weight: 100;
  font-family: "times new roman";
}

body {
  background: url(background.jpeg) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: "Arial";
  color: #F6BD9B;
  font-size: 30px;
  margin: 0;
  padding-top: 30px;
}

section {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  display: inline-block;
  margin: 0;
}

.white {
  color: #F7F7EF;
}

article img {
  height: 150px;
  margin: 0;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 40%;
}

h3{
  font-size: 30px;
}

p {
  width: 250px;
}
